*{
    box-sizing: border;
    padding: 0;
    margin: 0;
}
body{
    background: #20222F;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1{
    font-size: 1.55em;
}
h2{
    padding: .6em .4em 0 0;
}

.btn{
    border: 0;
    border-radius: 20px;
    padding-right: 25px;
    background: linear-gradient(45deg, lightgreen, green);
    color: #000;
    text-align: start;
    border: 2px solid green;
}


.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
}



/******************  HEADER STYLES **********************/
.container{ 
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: baseline;
}

.darkmode{
    width:130px;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}

/***********************
LAYOUT STYLES
 ****************************/
 .total, .daily{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-column-gap: 1rem;
 }

/***********************
CARD STYLES 
****************************/
.card{
    background: #252B43;
    padding: 1rem .175rem;
    text-align: center;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


.blue-top{
    border-top: 1px solid #02F7F8;

}
.gradient-top{
    border-top: 1px solid pink;
    border-image: linear-gradient( 45deg, yellow, red) 1px;

}
.red-top{
    border-top: 1px solid red;
}


.daily .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/********************CARD CONTENT STYLES **********************/
.overview-tag{
    font-size: .625rem;
}

.tag{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .5rem;
    color: rgba(255, 255, 255, .5);
}

.number{
    font-size: 1rem;
    font-weight: 700;
}

.total .card .numbers{
    font-size: 3em;
    font-weight: 700;
}

.green-text{
    color: green;
    padding-top: 1.8rem;
    font-size: .57rem;
}

.orange-text{
    color: rgba(225, 0, 0, .5);
    padding-top: 1.8rem;
    font-size: .625rem;
}

 .positive-percentage{
    color: green;
    font-size: .625rem;
    /* padding-left: 1.5rem */
}
 .negative-percentage{
    color: rgba(225, 0, 0, .5);
    font-size: .625rem;
 }


@media (max-width: 768px){
        .container{
            flex-direction: column;
        }
        .darkmode{
            width: 100%;
            border-top: 2px solid rgba(0, 0, 0, .8);
            margin-top: 1.5rem;
        }

        .total, .daily{
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
        }

        .daily .card{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem 1rem;
        }

}